<script type="text/x-handlebars-template" id="about-menu-template">
	<section class="about">
		<div class="about-contaier">
			<div class="canvas-container">
				<canvas id="geoCanvas" width="500" height="500"></canvas>
			</div>

			<div class="introduce-container">
				<div class="intro-text name title">
					- Sohn June Hyuk.
				</div>
				<div class="intro-text location sub-title">
					&nbsp;&nbsp;&nbsp;: Seoul, South Korea.
				</div>
				<div class="intro-text email sub-title">
					<a href="mailto:junehsohn@gmail.com">&nbsp;&nbsp;&nbsp;: junehsohn@gmail.com</a>
				</div>
				<div class="intro-text role title">
					- Front-end Development
				</div>
				<div class="intro-text skill sub-title">
					&nbsp;&nbsp;&nbsp;: html5, css, javascript , node.js 
				</div>
				<div class="intro-text skill sub-title">
					&nbsp;&nbsp;&nbsp;: flash actionscript( flex, air )
				</div>
				<div class="intro-text ux title">
					- Ux Design
				</div>
			</div>
		</div>
	</section>
</script>


