<script type="text/x-handlebars-template" id="not-supported-template">
	<section class="alert-popup">
		<h3 class="alert-title">
			Your Browser is currently Not supported.
		</h3>
		<div class="url"><a href="http://goo.gl/Za1CtN">http://goo.gl/Za1CtN</a></div>
		<h3 class="alert-title snd">
			this site is responsive web.
		</h3>
		<div class="qr-code"></div>
		<h3 class="alert-title snd">
			or upgrade your browser
		</h3>
		<h3 class="alert-title">
			<a href="https://www.google.com/chrome/">Download Chrome</div>
		</h3>
		<h3 class="alert-title">
			<a href="https://www.mozilla.org/firefox/">Download firefox</div>
		</h3>
	</section>
</script>



